/* Styles for the toggle button */
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc; /* Light mode background color */
    border-radius: 17px;
  }
  
  .toggle--checkbox {
    display: none;
  }
  
  /* Styles for the dark mode */
  .toggle--checkbox:checked + .toggle {
    background-color: #333; /* Dark mode background color */
  }
  
  /* Styles for the toggle button's appearance */
  .toggle::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff; /* Toggle button color */
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  /* Styles for the toggle button's state */
  .toggle--checkbox:checked + .toggle::after {
    transform: translateX(26px); /* Move the toggle button to the right for checked state */
  }